body{
  background-color:  #93a6af;
}

.container{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -150px;
  width: 300px;
  height: 200px;
}

/* .form-control{
  margin: 5px;
} */