{% extends "base.html" %}

{% block title %}
Books
{% endblock %}

{% block body %}
<form action="{{url_for("search")}}" method="get">
  <div class="form-group">
    <input type="text" class="form-control" name="input-book-search" placeholder="Search">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
<h1>Books</h1>
<ul class="list-group">
  {% for book in books %}

  <li class="list-group-item">
    <a class="item-link" href="{{url_for("book_info",title=book.title)}}" style="font-size: 28px;">{{ book.title }}</a>
    <p>{{ book.name }}</p>
  </li>
  {% endfor %}
</ul>
{% endblock %}
